[DATASET]
filters=["phase_size"]
image_size = [256,256]
post_crop_im_size = 224
dataset_means = [0.5, 0.5, 0.5]
dataset_stds = [0.5, 0.5, 0.5]
; dataset_means = [0.485, 0.456, 0.406]
; dataset_stds = [0.229, 0.224, 0.225]
# set this dir to the dataset dir
; raw_dataset_path = ../../datasets/images_faces/images_only
#raw_dataset_path = ../../datasets/processed/vggface2_discriminator min_size=400_num-classes_1250_{'train': 300, 'val': 50, 'test': 50}_cropsgood_cl
raw_dataset_path = /home/administrator/experiments/familiarity/dataset/divided_finetuning_fixed/A/
crop_scale={"max": 1.0, "min": 1.0}
processed_dataset_root = /home/administrator/experiments/familiarity/dataset/processed_finetuning_dataset/
class_filter_dataset_dir = phase_perc_size
dataset_name = pretraining_fixed_A
phase_size_dict = {"train":220, "val": 50, "test":50}

[MODELLING]
feature_parallelized_architectures = ["VGG", "vgg11", "vgg11_bn", "vgg13", "vgg13_bn", "vgg16", "vgg16_bn",
    "vgg19_bn", "vgg19", "AlexNet", "alexnet"]
architecture = vgg16
# If you want to start from the middle of training, set this to the epoch you wish to start from (it will load start_epoch-1 from the dir)
start_epoch = 10
end_epoch = 10
is_pretrained = False
num_classes = 8849
criterion_name = CrossEntropyLoss
criterion_params = {}
batch_size=128
workers=4
performance_test=LFW_TEST
; performance_test=None
perf_threshold=1.0
#each #num_epochs_to_test we make a LFW test
num_epochs_to_test=10
num_batches_per_epoch_limit=1000
logs_path=${GENERAL:root_dir}/${GENERAL:experiment_name}/${MODELLING:architecture}/results/
; checkpoint_path=/home/administrator/experiments/familiarity/pretraining/vgg16/models/119.pth

; [FINETUNING]
; freeze_end=35
; num_classes=100

[OPTIMIZING]
optimizer = Adam
; optimizer_params = {
;     "lr": 0.0001}
;     "weight_decay": 5e-4}
    ;     "momentum": 0.9,
; optimizer = SGD
optimizer_params = {
    "lr": 1e-5}
lr_scheduler = ReduceLROnPlateau
lr_scheduler_params = {
    "factor": 0.1}

[GENERAL]
root_dir = /home/administrator/experiments/familiarity/
#change to name of experiment (the output folder will be created accordingly)
experiment_name = finetuned_A

[LFW_TEST]
reps_layers=BlauchEquivalentExtractor

labeled_pairs_path=/home/administrator/experiments/familiarity/dataset/image_pairs_lists/mutualy_exclusive/pretraining_verification.txt
reps_cache_path=${GENERAL:root_dir}/${GENERAL:experiment_name}/lfw/reps/
comparison_metric=cos
lfw_dir=/home/administrator/experiments/familiarity/dataset/processed_pretraining_dataset/phase_perc_size/pretraining_fixed_{'train': 0.7, 'val': 0.2, 'test': 0.1}/test
reps_results_path=${GENERAL:root_dir}/${GENERAL:experiment_name}/${MODELLING:architecture}/results/
output_filename=pretraining_verification_performance.csv

[REP_BEHAVIOUR]
reps_cache_path=${GENERAL:root_dir}/${GENERAL:experiment_name}/pairs/reps/
reps_results_path=${GENERAL:root_dir}/${GENERAL:experiment_name}/${MODELLING:architecture}/results/
output_filename=A_pretraining_dists
workers=4
reps_layers=BlauchEquivalentExtractor
comparison_metric=cos
pairs_paths = {
                "pretraining_same": "/home/administrator/experiments/familiarity/dataset/image_pairs_lists/mutualy_exclusive/pretraining_same.txt",
                "pretraining_diff": "/home/administrator/experiments/familiarity/dataset/image_pairs_lists/mutualy_exclusive/pretraining_diff.txt"}
#                "C_same": "/home/administrator/experiments/familiarity/dataset/image_pairs_lists/mutualy_exclusive/C_same.txt",
#                "A_diff": "/home/administrator/experiments/familiarity/dataset/image_pairs_lists/mutualy_exclusive/A_diff.txt",
#                "B_diff": "/home/administrator/experiments/familiarity/dataset/image_pairs_lists/mutualy_exclusive/B_diff.txt",
#                "C_diff": "/home/administrator/experiments/familiarity/dataset/image_pairs_lists/mutualy_exclusive/C_diff.txt"}
pairs_image_dirs = {
                "pretraining_same": "/home/administrator/experiments/familiarity/dataset/processed_pretraining_dataset/phase_perc_size/pretraining_fixed_{'train': 0.7, 'val': 0.2, 'test': 0.1}/test",
                "pretraining_diff": "/home/administrator/experiments/familiarity/dataset/processed_pretraining_dataset/phase_perc_size/pretraining_fixed_{'train': 0.7, 'val': 0.2, 'test': 0.1}/test"}
#                "A_same": "/home/administrator/experiments/familiarity/dataset/processed_finetuning_dataset/phase_perc_size/pretraining_fixed_A_{'train': 220, 'val': 50, 'test': 50}/test/",
#                "B_same": "/home/administrator/experiments/familiarity/dataset/processed_finetuning_dataset/phase_perc_size/pretraining_fixed_B_{'train': 220, 'val': 50, 'test': 50}/test/",
#                "C_same": "/home/administrator/experiments/familiarity/dataset/processed_finetuning_dataset/phase_perc_size/pretraining_fixed_C_{'train': 220, 'val': 50, 'test': 50}/test/",
#                "A_diff": "/home/administrator/experiments/familiarity/dataset/processed_finetuning_dataset/phase_perc_size/pretraining_fixed_A_{'train': 220, 'val': 50, 'test': 50}/test/",
#                "B_diff": "/home/administrator/experiments/familiarity/dataset/processed_finetuning_dataset/phase_perc_size/pretraining_fixed_B_{'train': 220, 'val': 50, 'test': 50}/test/",
#                "C_diff": "/home/administrator/experiments/familiarity/dataset/processed_finetuning_dataset/phase_perc_size/pretraining_fixed_C_{'train': 220, 'val': 50, 'test': 50}/test/"}

