[DATASET]
filters=["class_num"]
image_size = 256
net_input_size = 224
dataset_means = [0.5, 0.5, 0.5]
dataset_stds = [0.5, 0.5, 0.5]
raw_dataset_path = /home/administrator/datasets/images_faces/faces_only_300
dataset_name = faces_260
transforms_type=mtcnn
phase_size_dict = {"train":300, "val": 50}
crop_scale={"max": 1.0, "min": 1.0}
max_num_classes=260
min_num_classes=260
class_depth=1
processed_dataset_root = /home/ssd_storage/datasets/processed
dataset_size_filter_dir = num_classes

[MODELLING]
feature_parallelized_architectures = ["VGG", "vgg11", "vgg11_bn", "vgg13", "vgg13_bn", "vgg16", "vgg16_bn",
    "vgg19_bn", "vgg19", "AlexNet", "alexnet"]
architecture = vgg16
# If you want to start from the middle of training, set this to the epoch you wish to start from (it will load start_epoch-1 from the dir)
start_epoch = 0
end_epoch = 20
is_pretrained = False
num_classes = 500
criterion_name = CrossEntropyLoss
criterion_params = {}
batch_size=128
workers=4
performance_test=LFW_TEST
#performance_test=None
perf_threshold=1.0
#each #num_epochs_to_test we make a LFW test
num_epochs_to_test=10
num_batches_per_epoch_limit=1000
checkpoint_path=/home/hdd_storage/mlflow/artifact_store/objects_no_animals/3422d1b4e1ac4d7ca8aa219da234283d/artifacts/119.pth

[OPTIMIZING]
optimizer = SGD
optimizer_params = {
    "lr": 0.01,
    "momentum": 0.9,
    "weight_decay": 5e-4}
lr_scheduler = StepLR
lr_scheduler_params = {
    "step_size": 10,
    "gamma": 0.1}

[FINETUNING]
classes_mode=replace
#replace/append
num_classes=260
freeze_end=0
#42-fc8, 40-fc7, 35-fc6, 26-conv5, 19-conv4, 12-conv3, 7-conv2, 0-conv1

[GENERAL]
root_dir = /home/ssd_storage/experiments/
#change to name of experiment (the output folder will be created accordingly)
experiment_name = faces_objects_finetuning

[LFW_TEST]
reps_layers=Fc78Dict
labeled_pairs_path=./lfw_test_pairs.txt
reps_cache_path=${GENERAL:root_dir}/${GENERAL:experiment_name}/lfw/reps/
reps_results_path=${GENERAL:root_dir}/${GENERAL:experiment_name}/${MODELLING:architecture}/results/
output_filename=lfw_results
comparison_metric=cos
lfw_dir=/home/administrator/datasets/lfw-align-128

[REP_BEHAVIOUR]
reps_layers=BlauchEquivalentExtractor
pairs_paths = {
                "diff_pairs": "/home/administrator/datasets/high_low_ps_images/image_pairs_lists/diff_pairs.txt",
                "high_ps_pairs": "/home/administrator/datasets/high_low_ps_images/image_pairs_lists/high_ps_pairs.txt",
                "low_ps_pairs": "/home/administrator/datasets/high_low_ps_images/image_pairs_lists/low_ps_pairs.txt",
                "same_pairs": "/home/administrator/datasets/high_low_ps_images/image_pairs_lists/same_pairs.txt",
                "frontal-ref": "/home/administrator/datasets/faces_in_views/frontal_ref.txt",
                "frontal-quarter_left": "/home/administrator/datasets/faces_in_views/frontal_quarter_left.txt",
                "frontal-half_left": "/home/administrator/datasets/faces_in_views/frontal_half_left.txt",
                "half_left-half_right": "/home/administrator/datasets/faces_in_views/half_left-half_right.txt",
                "quarter_left-quarter_right": "/home/administrator/datasets/faces_in_views/quarter_left-quarter_right.txt"}
pairs_image_dirs = {
                    "diff_pairs": "/home/administrator/datasets/high_low_ps_images/joined",
                    "high_ps_pairs": "/home/administrator/datasets/high_low_ps_images/joined",
                    "low_ps_pairs": "/home/administrator/datasets/high_low_ps_images/joined",
                    "same_pairs": "/home/administrator/datasets/high_low_ps_images/joined",
                    "frontal-ref": "/home/administrator/datasets/faces_in_views",
                    "frontal-quarter_left": "/home/administrator/datasets/faces_in_views",
                    "frontal-half_left": "/home/administrator/datasets/faces_in_views",
                    "half_left-half_right": "/home/administrator/datasets/faces_in_views",
                    "quarter_left-quarter_right": "/home/administrator/datasets/faces_in_views"}

reps_cache_path=${GENERAL:root_dir}/${GENERAL:experiment_name}/pairs/reps/
reps_results_path=${GENERAL:root_dir}/${GENERAL:experiment_name}/${MODELLING:architecture}/results/
comparison_metric=l2

output_filename=reps

# TODO: Create a standard output folder and format
